body {
    height: 100vh;
}

table {
    background: rgb(0, 255, 0);
}

td {
    text-align: center;
    
}

.table td {
    border: none;
    border: 1px solid black;
}

.target {
    width: 25px;
    height: 25px;
    padding: 1;
    margin: 0;
    border: none;
    border-radius: 50%;
    color: red;
    background: red;
}

#points {
    display: inline-block;
}